*{
  background-color:none ;
}


.App p {
  
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App h4{
  text-align: center;
  
  font-weight: bold;
}


.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Add{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
} 
